!color
URxvt.depth: 32
URxvt.foreground: white
URxvt.background: black
URxvt.scrollColor: #444

URxvt.transparent: true
URxvt.shading: 50

!URxvt*fading:  30
!URxvt*termName:  screen-256color
URxvt.scrollstyle: plain
URxvt.font: xft:Monospace:pixelsize=13

!make links clickable
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

